<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>vue-todolist</title>
</head>
<body>
    <div id="app" class="container">
        <div class="logo">
            <img :src="logoImage" alt="logo">
        </div>
        <div class="new-task">
            <input type="text" placeholder="Add new task" v-model="newTask.text">
            <button @click="addTask">Add</button>
        </div>
        <div class="task-container">
            <ul>
                <li class="task" v-for="(task,i) in tasks" :key="i" :class="task.done === true ? 'done':''">
                    {{task.text}}
                    <span class="remove-button" @click="deleteTask(i)">&#10005;</span>
                </li>
            </ul>
        </div>

    </div>
    <script src="js/script.js"></script>
</body>
</html>